.equipo {
  position: relative;
  background-color: white;
}

.my-container {
  display: flex;
  padding: 10rem 9rem;
  flex-direction: column;
  /* bg-image */
  background-image: url("./../../../assets/iconos/liid-logo-bg.svg"),
    url("./../../../assets/iconos/liid-logo-bg.svg");
  background-repeat: repeat-y;
  background-size: 30vh 500vh;
  background-position: left 10rem top 505vh, right 10rem top 300vh;
}

.title-section,
.title-dependencia {
  color: var(--primario, #104d73);
}
.title-section {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.14806rem;
}
.title-dependencia {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.14806rem;
}

.normal-text {
  color: #000;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 275;
  line-height: 1.63125rem;
}

.info-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.urls-dependencies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: center;
}

.sections-contents {
  min-height: 30vh;
  width: 100%;
  display: grid;
  align-items: center;
}

.dependencia-container {
  /* min-height: 60vh; */
  padding: 8rem 0;
}

@media (min-width: 1020px) {
  .sections-contents {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1020px) {
  .sections-contents {
    grid-template-columns: repeat(1, 1fr);
  }
  .my-container {
    padding: 12rem 4rem;

    background-image: url("./../../../assets/iconos/liid-logo-bg.svg");
    background-repeat: repeat-y;
    background-size: 30vh 200vh;
    background-position: center top 155vh;
  }
}


