.equipo {
  /* background-color: var(--primario); */
  position: relative;
  background-color: white;
}

h2 {
  color: #104d73;
  padding-top: 50px;
  font-size: 30px;
}
h1 {
  color: #104d73;
  padding-top: 2%;
}
h6 {
  color: #104d73;
  padding-top: 10px;
}
.footer {
  padding-top: 125px;
  /* background-color: var(--primario); */
  position: relative;
}

.my-container {
  display: flex;
  padding: 130px;
  padding-top: 70px;
  flex-direction: column;
}
.my-container h1 {
  font-size: 42px;
  font-weight: 700px;
  color: #FFFFFF ;
}
.my-container h6 {
  font-size: 20px;
  font-weight: 200;
  max-width: 50%;
  line-height: 30px;
}
.card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 38px;
  width: 100%;
  padding-top: 46px;
  padding-bottom: 46px;
  justify-items: center;
  background-color: #FFFFFF;
  border-radius: 10px; 
}
.dep-toggle {
  background-color: #104d73;
  color: white; /* Azul */
  border-radius: 10px; /* Ajusta el valor según lo desees */
  padding: 10px 20px; /* Ajusta el relleno según lo desees */
  border: none;
  cursor: pointer;
  display: block;
  margin: auto; /* Esto centrará horizontalmente el botón */
  margin-bottom: 10px; /* Separación entre botones */
  margin-top: 10px;
  width: 100%; /* Hace que el botón ocupe todo el ancho de su contenedor */
  box-sizing: border-box; /* Incluye el padding y el border en el ancho total */
}


.item {
  display: inline-grid;
  width: 385px;
}
@media (max-width: 1420px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1020px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .my-container h6 {
    font-size: 16px;
    max-width: 100%;
  }
  .my-container {
    padding: 20px;
  }
}
@media (max-width: 500px) {
  .item {
    width: 300px;
  }
}

.card-container {
  width: 100%;
  overflow-x: auto; /* Permite que haya un scroll horizontal */
  white-space: nowrap; /* Evita que los elementos se envuelvan */
}

.scroll-container {
  display: inline-flex; /* Hace que los elementos se organicen en una fila */
}

.item {
  width: 385px;
  margin-right: 20px; /* Espacio entre elementos */
}

.item:last-child {
  margin-right: 0; /* Elimina el margen derecho del último elemento */
}

@media (max-width: 1020px) {
  .item {
    width: 100%;
    margin-right: 0; /* Elimina el margen entre elementos en dispositivos pequeños */
  }
}







