<div class="relative">
  <footer class="flex bg-[#044170] text-white py-8 px-4 md:px-8">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div>
        <h3 class="text-2xl font-bold mb-4">LiiD UTPL</h3>
        <p class="mb-2">
          <i class="fas fa-envelope mr-2"></i>Correo: liid@utpl.edu.ec
        </p>
        <p class="mb-2">
          <i class="fas fa-phone mr-2"></i>Teléfono: 370 1444 Ext: 2851
        </p>
        <p>
          <i class="fas fa-map-marker-alt mr-2"></i>Dirección: Edificio 9,
          Tercera Planta Alta, Campus Utpl - San Cayetano Alto S/N
        </p>
      </div>
      <div>
        <h3 class="text-2xl font-bold mb-4">Enlaces de interés</h3>
        <ul class="space-y-2">
          <li>
            <a
              href="https://ascendere.utpl.edu.ec/"
              class="underline hover:text-amber-500"
              >Proyecto Ascendere</a
            >
          </li>
          <li>
            <a
              href="https://ascendere.utpl.edu.ec/login"
              class="underline hover:text-amber-500"
              >Sistema de gestión Ascendere</a
            >
          </li>
          <li>
            <a
              href="https://www.utpl.edu.ec/"
              class="underline hover:text-amber-500"
              >UTPL</a
            >
          </li>
          <li>
            <a
              href="https://www.utpl.edu.ec/ayni"
              class="underline hover:text-amber-500"
              >AYNI UTPL</a
            >
          </li>
          <li>
            <a
              href="https://www.utpl.edu.ec/utpl-play"
              class="underline hover:text-amber-500"
              >UTPL PLAY</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-2xl font-bold mb-4">Redes sociales</h3>
        <ul class="flex gap-4">
          <li>
            <a href="https://www.instagram.com/liid_utpl/" class="text-2xl">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/liid_utpl" class="text-2xl">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/company/liid-utpl/"
              class="text-2xl"
            >
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/LiiDUTPL" class="text-2xl">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/channel/UCzRd2Y87-NJnVliV8B6e_Xg"
              class="text-2xl"
            >
              <i class="fab fa-youtube"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  <img
    class="hidden md:block absolute top-[-50%] right-[0]"
    src="assets/footer-left.png"
  />
</div>

<hr class="m-8" />
<div class="flex justify-center md:justify-end px-8 pb-4">
  <p class="text-white text-opacity-70">Copyright LiiD UTPL 2024</p>
</div>
