<nav class="flex flex-wrap justify-between text-white items-center p-4 sm:px-8 md:px-24 fixed w-full bg-[#044170] z-50">

  <div class="hidden sm:flex space-x-10">
    <a routerLink="/nosotros"
      class="flex items-center space-x-2 p-2 hover:text-amber-500 hover:border-b-2 hover:border-amber-500">
      Nosotros
    </a>
    <a routerLink="/labvirtual"
      class="flex items-center space-x-2 p-2 hover:text-amber-500 hover:border-b-2 hover:border-amber-500">
      Lab Virtual
    </a>
    <a routerLink="/academia-ascendere" class="flex items-center space-x-2 p-2 hover:text-amber-500 hover:border-b-2 hover:border-amber-500">
      Academia
    </a>
  </div>

  <div class="w-24 sm:w-16 md:w-auto flex-shrink-0">
    <a><img routerLink="/" src="/assets/logo.svg" alt="Logo" class="w-full h-auto cursor-pointer"></a>
</div>

  <div class="hidden sm:flex space-x-10">
    <a routerLink="/proyectos"
      class="flex items-center space-x-2 p-2 hover:text-amber-500 hover:border-b-2 hover:border-amber-500">
      Proyectos
    </a>
    <a routerLink="/equipo"
      class="flex items-center space-x-2 p-2 hover:text-amber-500 hover:border-b-2 hover:border-amber-500">
      Equipo
    </a>
    <a routerLink="/recursos"
      class="flex items-center space-x-2 p-2 hover:text-amber-500 hover:border-b-2 hover:border-amber-500">
      Recursos
    </a>
  </div>

  <button mat-icon-button [matMenuTriggerFor]="menu" class="sm:hidden text-3xl flex-shrink-0">
    <i class="fas fa-bars"></i>
</button>


  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/']">
      <i class="fas fa-home"></i>
      <span class="text-black hover:text-amber-700">Inicio</span>
    </button>
    <button mat-menu-item [routerLink]="['/nosotros']">
      <i class="fas fa-info-circle"></i>
      <span class="text-black hover:text-amber-700">Nosotros</span>
    </button>
    <button mat-menu-item [routerLink]="['/labvirtual']">
      <i class="fas fa-flask"></i>
      <span class="text-black hover:text-amber-700">Lab Virtual</span>
    </button>
    <button mat-menu-item [routerLink]="['/academia-ascendere']">
      <i class="fas fa-university"></i>
      <span class="text-black hover:text-amber-700">Academia Ascendere</span>
    </button>
    <button mat-menu-item [routerLink]="['/proyectos']">
      <i class="fas fa-project-diagram"></i>
      <span class="text-black hover:text-amber-700">Proyectos</span>
    </button>
    <button mat-menu-item [routerLink]="['/equipo']">
      <i class="fas fa-users"></i>
      <span class="text-black hover:text-amber-700">Equipo</span>
    </button>
    <button mat-menu-item [routerLink]="['/recursos']">
      <i class="fas fa-book"></i>
      <span class="text-black hover:text-amber-700">Recursos</span>
    </button>
  </mat-menu>
</nav>
