<nav class="flex justify-between items-center p-4 bg-[#044170] fixed w-full text-white z-50">

  <div class="flex-shrink-0">
    <a routerLink="/">
      <img src="/assets/logo.svg" alt="Logo" class="h-10 md:h-12 cursor-pointer">
    </a>
  </div>


  <div class="hidden md:flex space-x-8">
    <a routerLink="/academia-ascendere" class="hover:text-[#FFCC00]">Academia</a>
    <a routerLink="/proyectos" class="hover:text-[#FFCC00]">Proyectos</a>
    <a routerLink="/nosotros" class="hover:text-[#FFCC00]">Nosotros</a>
    <a routerLink="/equipo" class="hover:text-[#FFCC00]">Equipo</a>
    <a routerLink="/recursos" class="hover:text-[#FFCC00]">Recursos</a>
  </div>


  <div>
    <button
      class="bg-gradient-to-r from-[#FFCC00] to-[#FF9900] text-white py-2 px-14 rounded-full shadow-2xl transition-all duration-300 hover:scale-110 hover:brightness-110 font-normal">
      Ingresar
    </button>
  </div>

  <button class="md:hidden text-2xl">
    <i class="fas fa-bars"></i>
  </button>
</nav>
