<div class="mx-auto py-16">
  <section class="bg-white">
    <div class="container mx-auto text-center py-10">
      <img class="mx-auto w-1/4"
        src="https://firebasestorage.googleapis.com/v0/b/liid-utpl-prod.appspot.com/o/landing%2Facademy%2Facademia_acendere.png?alt=media&token=866566a7-f9ac-40c0-8b21-82de33c6407c"
        alt="Academia Ascendere">
      <p class="mt-6 text-lg text-gray-600">Una iniciativa de la Universidad Técnica Particular de Loja (UTPL)
        para formar
        un equipo multidisciplinario de estudiantes altamente capacitados en diversas tecnologías y herramientas.</p>
    </div>
  </section>

  <section class="container px-16 mt-10">
    <h2 class="text-3xl font-bold mb-4">Objetivos</h2>
    <ul class="list-disc mt-4 pl-5 text-lg text-gray-600 space-y-3">
      <li>Formar equipos multidisciplinarios de estudiantes con conocimientos técnicos para ejecutar proyectos en los
        laboratorios mencionados.</li>
      <li>Capacitar a los estudiantes en diversas áreas como gestión de proyectos, diseño UX/UI, desarrollo de
        aplicaciones, realidades virtuales, inteligencia artificial, análisis de datos y comunicación.</li>
      <li>Utilizar el catálogo de cursos de UDEMY BUSINESS para proporcionar una formación de alta calidad.</li>
      <li>Contribuir al desarrollo de soluciones innovadoras en el campo educativo y empresarial.</li>
    </ul>
  </section>

  <section class="mt-10 py-10 bg-white mx-5 md:mx-10 rounded-md">
    <h2 class="text-2xl font-bold text-gray-600 text-center">Áreas de Interés</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 my-4 mx-10 ">
      <div class="p-5 border rounded-lg shadow transition-all duration-200 ease-in-out transform hover:scale-105">
        <h3 class="text-lg font-semibold text-gray-600">Unidad de gestión de proyectos</h3>
        <p class="mt-2 text-gray-600">Ofrecemos las herramientas y habilidades necesarias para planificar, ejecutar y
          monitorear
          proyectos de manera efectiva.</p>
      </div>
      <div class="p-5 border rounded-lg shadow transition-all duration-200 ease-in-out transform hover:scale-105">
        <h3 class="text-lg font-semibold text-gray-600">Unidad de Diseño UX/UI</h3>
        <p class="mt-2 text-gray-600">Formación en técnicas de diseño centrado en el usuario para mejorar la experiencia
          del usuario a
          través de wireframes, prototipos y diseños visuales.</p>
      </div>
      <div class="p-5 border rounded-lg shadow transition-all duration-200 ease-in-out transform hover:scale-105">
        <h3 class="text-lg font-semibold text-gray-600">Unidad de Desarrollo Frontend</h3>
        <p class="mt-2 text-gray-600">Formación en el desarrollo de la parte visible y interactiva de una aplicación web
          o plataforma.</p>
      </div>
      <div class="p-5 border rounded-lg shadow transition-all duration-200 ease-in-out transform hover:scale-105">
        <h3 class="text-lg font-semibold text-gray-600">Unidad de Desarrollo Backend</h3>
        <p class="mt-2 text-gray-600">Formación en el desarrollo de la parte no visible pero crucial de una aplicación
          web o
          plataforma.</p>
      </div>
      <div class="p-5 border rounded-lg shadow transition-all duration-200 ease-in-out transform hover:scale-105">
        <h3 class="text-lg font-semibold text-gray-600">Unidad de Desarrollo Móvil</h3>
        <p class="mt-2 text-gray-600">Formación en el desarrollo de aplicaciones para dispositivos móviles como
          smartphones y tablets.</p>
      </div>
      <div class="p-5 border rounded-lg shadow transition-all duration-200 ease-in-out transform hover:scale-105">
        <h3 class="text-lg font-semibold text-gray-600">Unidad de Entornos Inmersivos</h3>
        <p class="mt-2 text-gray-600">Formación en el desarrollo de soluciones de realidad virtual (VR) y aumentada
          (AR).</p>
      </div>
      <div class="p-5 border rounded-lg shadow transition-all duration-200 ease-in-out transform hover:scale-105">
        <h3 class="text-lg font-semibold text-gray-600">Unidad de Despliegue y Testing de Aplicaciones</h3>
        <p class="mt-2 text-gray-600">Formación en garantizar la calidad y la estabilidad de los productos o
          aplicaciones
          desarrolladas.</p>
      </div>
      <div class="p-5 border rounded-lg shadow transition-all duration-200 ease-in-out transform hover:scale-105">
        <h3 class="text-lg font-semibold text-gray-600">Unidad de Inteligencia Artificial y Análisis de Datos</h3>
        <p class="mt-2 text-gray-600">Formación en el aprendizaje automático y la interpretación de datos para mejorar
          el rendimiento
          de los sistemas.</p>
      </div>
      <div class="p-5 border rounded-lg shadow transition-all duration-200 ease-in-out transform hover:scale-105">
        <h3 class="text-lg font-semibold text-gray-600">Unidad Legal</h3>
        <p class="mt-2 text-gray-600">Formación en herramientas y habilidades necesarias para entender y cumplir con las
          leyes y
          regulaciones relacionadas con proyectos tecnológicos.</p>
      </div>
      <div class="p-5 border rounded-lg shadow transition-all duration-200 ease-in-out transform hover:scale-105">
        <h3 class="text-lg font-semibold text-gray-600">Unidad de Diseño y Comunicación</h3>
        <p class="mt-2 text-gray-600">Formación en cómo llevar a cabo una estrategia de comunicación eficaz para
          promover y dar a
          conocer los proyectos y productos desarrollados por el equipo.</p>
      </div>
    </div>
  </section>



</div>
