<div class="mx-auto py-16">
  <section class="bg-white">
    <div class="container mx-auto text-center py-10">
      <img class="mx-auto w-1/4"
        src="https://firebasestorage.googleapis.com/v0/b/liid-utpl-prod.appspot.com/o/landing%2Facademy%2Facademia_acendere.png?alt=media&token=866566a7-f9ac-40c0-8b21-82de33c6407c"
        alt="Academia Ascendere">
      <p class="mt-6 text-lg text-gray-600">Una iniciativa de la Universidad Técnica Particular de Loja (UTPL)
        para formar
        un equipo multidisciplinario de estudiantes altamente capacitados en diversas tecnologías y herramientas.</p>
    </div>
    <div>
      <iframe src="https://player.flipsnack.com?hash=Q0NBQjlDQkJEQzkraGo1d3BuaGJkYw==" width="100%" height="480" seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen allow="autoplay; clipboard-read; clipboard-write"></iframe>
    </div>  
  </section>
  <section class="bg-white p-8">
    <div class="button-container">
        <p class="text-center text-gray-600">¡Inscríbete en nuestra academia!</p>
        <button onclick="window.open('https://forms.gle/qEaRXYKTfnAZcZzY9', '_blank');" class="block mx-auto mt-4 bg-blue-900 hover:bg-blue-950 text-white font-bold py-2 px-4 rounded">Inscribirse</button>
    </div>
</section>

  <section class="container mx-auto px-16 mt-10">
    <h2 class="text-3xl font-bold mb-4">Objetivos</h2>
    <ul class="list-disc mt-4 pl-5 text-sm text-gray-600 space-y-3">
      <li>Organizar y facilitar la formación de equipos multidisciplinarios de estudiantes de la UTPL, con habilidades técnicas diversificadas y complementarias, para la efectiva ejecución de proyectos colaborativos en los laboratorios especializados (LiiD, PCyT, XR Lab y MediaLab), fomentando así la sinergia y la innovación entre las diferentes áreas de conocimiento.</li>
      <li>Diseñar y ofrecer programas de capacitación integral para los estudiantes, abarcando áreas fundamentales como gestión de proyectos, diseño UX/UI, desarrollo de aplicaciones web y móviles, realidades virtuales, inteligencia artificial, análisis de datos, despliegue y testing de aplicaciones, asesoramiento legal y comunicación, con el objetivo de dotarlos de las competencias necesarias para enfrentar los desafíos complejos del entorno laboral actual y futuro.</li>
      <li>Integrar de manera efectiva el catálogo diverso de cursos proporcionados por UDEMY BUSINESS en el plan de estudios de la "Academia Ascendere", garantizando así el acceso de los estudiantes a contenidos actualizados y de alta calidad en áreas de relevancia estratégica para la innovación y el desarrollo tecnológico.</li>
      <li>Fomentar la participación activa de los estudiantes en proyectos de investigación aplicada y desarrollo tecnológico, con el propósito de generar soluciones innovadoras y prácticas en los ámbitos educativo y empresarial, promoviendo así el espíritu emprendedor y la contribución significativa al progreso socioeconómico de la región y el país.</li>
    </ul>
  </section>

  <section class="mt-10 py-10 bg-white mx-5 md:mx-10 rounded-md">
    <h2 class="text-2xl font-bold text-gray-600 text-center">Áreas de Interés</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 my-4 mx-10 ">
      <div class="p-5 border rounded-lg shadow transition-all duration-200 ease-in-out transform hover:scale-105">
        <h3 class="text-lg font-semibold text-gray-600">Unidad de Diseño UX/UI</h3>
        <p class="mt-2 text-gray-600">Esta unidad proporciona a los estudiantes la oportunidad de sumergirse en el 
          fascinante mundo del diseño centrado en el usuario. A través de la aplicación práctica de técnicas innovadoras, 
          los estudiantes aprenderán a crear experiencias digitales atractivas e interactivas a los usuarios. Desde la conceptualización 
          hasta la implementación.</p>
      </div>
      <div class="p-5 border rounded-lg shadow transition-all duration-200 ease-in-out transform hover:scale-105">
        <h3 class="text-lg font-semibold text-gray-600">Unidad de Desarrollo Frontend</h3>
        <p class="mt-2 text-gray-600">En esta unidad, los estudiantes se sumergirán en el apasionante mundo del desarrollo 
          frontend, donde la creatividad se encuentra con la funcionalidad para crear experiencias digitales impactantes. 
          A través del dominio de tecnologías clave como HTML, CSS y JavaScript, los estudiantes aprenderán a diseñar y 
          construir la parte visible e interactiva de las aplicaciones web y plataformas digitales.</p>
      </div>
      <div class="p-5 border rounded-lg shadow transition-all duration-200 ease-in-out transform hover:scale-105">
        <h3 class="text-lg font-semibold text-gray-600">Unidad de Desarrollo Backend</h3>
        <p class="mt-2 text-gray-600">Esta unidad se enfoca en el corazón invisible pero crucial de las aplicaciones web y 
          plataformas digitales, adquiriendo habilidades en el desarrollo de la lógica de negocio, la gestión de bases 
          de datos y la comunicación con el frontend. A través del dominio de lenguajes de programación como Java, Python, 
          así como de tecnologías como APIs y bases de datos, los estudiantes aprenderán a construir soluciones escalables 
          y sostenibles que impulsen el éxito de los proyectos digitales.</p>
      </div>
      <div class="p-5 border rounded-lg shadow transition-all duration-200 ease-in-out transform hover:scale-105">
        <h3 class="text-lg font-semibold text-gray-600">Unidad de Desarrollo Móvil</h3>
        <p class="mt-2 text-gray-600">En esta unidad, los estudiantes se sumergirán en el emocionante mundo del desarrollo 
          de aplicaciones móviles, donde la innovación y la creatividad se combinan para crear experiencias únicas. 
          A través del dominio de plataformas de desarrollo móvil como iOS y Android, los estudiantes aprenderán a construir 
          aplicaciones nativas y híbridas que aprovechen al máximo las características y capacidades de los dispositivos 
          móviles.</p>
      </div>
      <div class="p-5 border rounded-lg shadow transition-all duration-200 ease-in-out transform hover:scale-105">
        <h3 class="text-lg font-semibold text-gray-600">Unidad de Entornos Inmersivos</h3>
        <p class="mt-2 text-gray-600">En esta unidad, los estudiantes explorarán el emocionante campo de los entornos inmersivos, 
          donde la realidad virtual (VR) y la realidad aumentada (AR) se unen para crear experiencias envolventes y cautivadoras. 
          A través del dominio de herramientas y tecnologías de vanguardia.</p>
      </div>
      <div class="p-5 border rounded-lg shadow transition-all duration-200 ease-in-out transform hover:scale-105">
        <h3 class="text-lg font-semibold text-gray-600">Unidad de Inteligencia Artificial</h3>
        <p class="mt-2 text-gray-600">En esta unidad, los estudiantes se sumergirán en el apasionante mundo de la inteligencia artificial 
          (IA), donde la innovación y la creatividad se unen para crear sistemas inteligentes que aprenden y se adaptan. 
          A través del estudio de algoritmos y técnicas de aprendizaje automático, los estudiantes aprenderán a interpretar 
          datos y a desarrollar soluciones inteligentes que mejoren el rendimiento de los sistemas.</p>
      </div>
      <div class="p-5 border rounded-lg shadow transition-all duration-200 ease-in-out transform hover:scale-105">
        <h3 class="text-lg font-semibold text-gray-600">Unidad de Análisis de Datos</h3>
        <p class="mt-2 text-gray-600">En esta unidad, los estudiantes serán capacitados en las habilidades fundamentales del 
          análisis de datos, un campo crucial en el panorama actual de la tecnología y los negocios. 
          A lo largo de esta unidad, los participantes explorarán las metodologías, técnicas y herramientas utilizadas para 
          extraer conocimientos significativos a partir de conjuntos de datos complejos.</p>
      </div>
      <div class="p-5 border rounded-lg shadow transition-all duration-200 ease-in-out transform hover:scale-105">
        <h3 class="text-lg font-semibold text-gray-600">Unidad de Automatización de Procesos</h3>
        <p class="mt-2 text-gray-600">Esta unidad está diseñada para capacitar a los estudiantes en las habilidades necesarias 
          para automatizar procesos y flujos de trabajo, lo que les permitirá mejorar la eficiencia y la 
          productividad en entornos empresariales. Los participantes aprenderán a identificar oportunidades de automatización, 
          diseñar soluciones efectivas y utilizar herramientas y tecnologías especializadas para implementar flujos de trabajo 
          automatizados.</p>
      </div>
      <div class="p-5 border rounded-lg shadow transition-all duration-200 ease-in-out transform hover:scale-105">
        <h3 class="text-lg font-semibold text-gray-600">Unidad de Diseño y Comunicación</h3>
        <p class="mt-2 text-gray-600">En esta unidad, los estudiantes explorarán la importancia de una estrategia de comunicación 
          eficaz en la promoción y difusión de proyectos y productos desarrollados. Desde la planificación estratégica hasta 
          la creación de contenido y el diseño de campañas publicitarias, los estudiantes aprenderán a diseñar estrategias 
          de comunicación y marketing que lleguen de manera efectiva a diferentes audiencias.</p>
      </div>
      <div class="p-5 border rounded-lg shadow transition-all duration-200 ease-in-out transform hover:scale-105">
        <h3 class="text-lg font-semibold text-gray-600">Unidad de Diseño 3D y Animación Interactiva</h3>
        <p class="mt-2 text-gray-600">En esta unidad, los estudiantes serán introducidos al emocionante mundo del diseño 
          en 3D y las animaciones interactivas 2D. Explorarán técnicas y herramientas para la creación de modelos 
          tridimensionales y animaciones cautivadoras, con un enfoque en la experiencia del usuario y la narrativa visual.</p>
      </div>
    </div>
  </section>
</div>
