<section class="bg-white py-16">
  <div class="container my-12 mx-auto px-4">
    <div class="max-w-7xl mx-auto">
      <div class="text-center">
        <h1 class="text-4xl font-bold text-sky-900">Laboratorio de Investigación e Innovación Docente</h1>
        <p class="mt-8 text-lg leading-relaxed text-gray-600">Es un espacio orientado al desarrollo de la innovación e
          investigación educativa a nivel local, nacional e internacional. A través del laboratorio se busca canalizar
          todas las iniciativas de la UTPL que potencien el aprendizaje y la enseñanza con el uso de las nuevas
          tecnologías, recursos educativos abiertos y nuevas metodologías de enseñanza-aprendizaje; así como apoyar a
          los investigadores de la universidad en la explotación de nuevas formas de trabajo científico en relación a la
          mejora de la docencia universitaria</p>
      </div>
    </div>
  </div>
  <div class="flex justify-center items-center">
    <div class="flex space-x-4">
      <div
        class=" w-64 bg-blue-500 rounded-lg shadow-lg p-6 text-white text-center space-y-4 transform transition duration-500 ease-in-out hover:scale-105 hover:shadow-2xl cursor-pointer">
        <i class="fas fa-lightbulb fa-3x mb-4"></i>
        <h6 class="font-semibold">Innovación</h6>
      </div>
      <div
        class=" w-64 bg-green-500 rounded-lg shadow-lg p-6 text-white text-center space-y-4 transform transition duration-500 ease-in-out hover:scale-105 hover:shadow-2xl cursor-pointer">
        <i class="fas fa-paint-brush fa-3x mb-4"></i>
        <h6 class="font-semibold">Creación</h6>
      </div>
      <div
        class=" w-64 bg-red-500 rounded-lg shadow-lg p-6 text-white text-center space-y-4 transform transition duration-500 ease-in-out hover:scale-105 hover:shadow-2xl cursor-pointer">
        <i class="fas fa-flask fa-3x mb-4"></i>
        <h6 class="font-semibold">Investigación</h6>
      </div>
      <div
        class=" w-64 bg-teal-500 rounded-lg shadow-lg p-6 text-white text-center space-y-4 transform transition duration-500 ease-in-out hover:scale-105 hover:shadow-2xl cursor-pointer">
        <i class="fas fa-users fa-3x mb-4"></i>
        <h6 class="font-semibold">Unidad</h6>
      </div>
      <div
        class=" w-64 bg-indigo-500 rounded-lg shadow-lg p-6 text-white text-center space-y-4 transform transition duration-500 ease-in-out hover:scale-105 hover:shadow-2xl cursor-pointer">
        <i class="fas fa-chart-line fa-3x mb-4"></i>
        <h6 class="font-semibold">Crecimiento</h6>
      </div>
    </div>
  </div>
</section>
<section class="bg-gradient-to-r from-[#044170] to-sky-800 p-8">
  <div class="flex justify-center">
    <iframe class="my-iframe" width="720" height="480" src="https://www.youtube.com/embed/v27EX2U2PlA"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      class="border rounded-lg" allowfullscreen></iframe>
  </div>
</section>
<section class="p-8 bg-white">
  <h2 class="text-2xl font-semibold text-sky-900 text-center mb-6">Objetivos del Laboratorio</h2>
  <div class="grid grid-cols-2 gap-6">
    <div class="bg-gray-200 p-4 rounded shadow">
      <p class="text-sky-900 ">Implementación de proyectos de Innovación académica.</p>
    </div>
    <div class="bg-gray-200 text-sky-900 p-4 rounded shadow">
      <p class="text-sky-900 ">Capacitaciones sobre prácticas de innovación educativa, en relación las nuevas
        tecnologías y ambientes de aprendizaje.</p>
    </div>
    <div class="bg-gray-200 text-sky-900 p-4 rounded shadow">
      <p class="text-sky-900 ">Asesoría en creación de contenidos educativos y aplicación de técnicas de inteligencia
        artificial en los procesos de enseñanza.</p>
    </div>
    <div class="bg-gray-200 text-sky-900 p-4 rounded shadow">
      <p class="text-sky-900 ">Formación y asesoramiento especializado en innovación e investigación educativa,
        aplicando los últimos avances en herramientas tecnológicas.</p>
    </div>
    <div class="bg-gray-200 text-sky-900 p-4 rounded shadow">
      <p class="text-sky-900 ">Asesoramiento y desarrollo de prototipos orientados a la innovación educativa.</p>
    </div>
    <div class="bg-gray-200 text-sky-900 p-4 rounded shadow">
      <p class="text-sky-900 ">Investigación en Tendencias Educativas</p>
    </div>
  </div>
</section>
<section class="p-8 bg-gradient-to-r from-[#044170] to-sky-800">
  <h2 class="text-2xl font-semibold mb-6 text-center">¿Qué hacemos?</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 text-lg font-light">
    <ul class="space-y-2">
      <li><span role="img" aria-label="rocket">🚀</span> Desarrollo de proyectos de Innovación Educativa</li>
      <li><span role="img" aria-label="film projector">📽️</span> Elaboración de recursos educativos: videos, podcast</li>
      <li><span role="img" aria-label="smartphone">📱</span> Desarrollo de aplicaciones web, móviles, entornos en 3D, video juegos.</li>
      <li><span role="img" aria-label="gear">⚙️</span> Deploy & Testing de apps</li>
      <li><span role="img" aria-label="brain">🧠</span> Machine Learning</li>
    </ul>
    <ul class="space-y-2">
      <li><span role="img" aria-label="bar chart">📊</span> Ánalisis de datos</li>
      <li><span role="img" aria-label="palette">🎨</span> Diseño (publicitario, UX/UI)</li>
      <li><span role="img" aria-label="megaphone">📣</span> Comunicación y visibilidad de proyectos, productos y marca personal del docente</li>
      <li><span role="img" aria-label="computer">💻</span> Administración de redes sociales</li>
    </ul>
  </div>
</section>


<section class="p-12 bg-white mb-24">
  <h2 class="text-2xl font-semibold mb-6 text-center text-[#044170]">Modalidades para participación de estudiantes</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 text-lg font-light">
    <ul class="space-y-2">
      <li class="text-[#044170]"><span role="img" aria-label="student">🎓</span> Prácticas pre-profesionales (GP - Practicum)</li>
      <li class="text-[#044170]"><span role="img" aria-label="trophy">🏆</span> Becarios de innovación</li>
    </ul>
    <ul class="space-y-2">
      <li class="text-[#044170]"><span role="img" aria-label="briefcase">💼</span> Pasantes</li>
      <li class="text-[#044170]"><span role="img" aria-label="team">👥</span> Colaboradores</li>
    </ul>
  </div>
  <section>
    <div style="display: flex; justify-content: center; align-items: center;">
      <div style="position: relative; width: 30%; height: 20%; padding-top: 20%; padding-bottom: 0; box-shadow: 0 2px px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden; border-radius: 8px; will-change: transform;">
        <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0; margin: 0;" src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFn-e40w7U&#x2F;ezuy_1X6f-AwDlTWdsOBDw&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
        </iframe>
      </div>
    </div>
    <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFn-e40w7U&#x2F;ezuy_1X6f-AwDlTWdsOBDw&#x2F;view?utm_content=DAFn-e40w7U&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" ></a>
  </section>
</section>


<!-- <section class="about-liid">
  <div class="container">
    <div class="full">
      <div class="info-liid">
        <img src="/assets/logo.svg" alt="logo" class="logo-size">
        <h1 class="titulo">Laboratorio de Investigación e Innovación Docente</h1>
        <p class="info-lab">Es un espacio orientado al desarrollo de la innovación e investigación
          educativa a nivel local, nacional e internacional. A través del
          laboratorio se busca canalizar todas las iniciativas de la UTPL que
          potencien el aprendizaje y la enseñanza con el uso de las nuevas
          tecnologías, recursos educativos abiertos y nuevas metodologías de
          enseñanza-aprendizaje; así como apoyar a los investigadores de la
          universidad en la explotación de nuevas formas de trabajo científico
          en relación a la mejora de la docencia universitaria</p>
      </div>
    </div>
  </div>
</section>

<section class="video-liid">
  <div class="container">
    <video src="https://www.youtube.com/watch?v=v27EX2U2PlA" preload="auto" autoplay></video>
  </div>
</section>

<section class="objetivos-liid">
  <div class="container">
    <div class="cont-objetivos">
      <div class="obj-texto">
        <h2 class="titulos2">Objetivos del laboratorio</h2>
        <ul class="texto-size-font">
          <li>Implementación de proyectos de Innovación académica.</li>
          <li>Capacitaciones sobre prácticas de innovación educativa, en relación a las nuevas tecnologías y ambientes
            de aprendizaje.</li>
          <li>Asesoría en creación de contenidos educativos y aplicación de técnicas de inteligencia artificial en los
            procesos de enseñanza.</li>
          <li>Formación y asesoramiento especializado en innovación e investigación educativa, aplicando los últimos
            avances en herramientas tecnológicas.</li>
          <li>Asesoramiento y desarrollo de prototipos orientados a la innovación educativa.</li>
          <li>Investigación en Tendencias Educativas</li>
        </ul>
      </div>
      <div class="imagen-lab">
        <img src="/assets/laboratorio.png" alt="Laboratorio">
      </div>
    </div>
  </div>
</section>

<section class="que-hacemos">
  <div class="container">
    <div class="cont-qhacemos">
      <h2 class="titulos2">¿Qué hacemos?</h2>
      <ul class="texto-size-font">
        <li>Desarrollo de proyectos de Innovación Educativa</li>
        <li>Elaboración de recursos educativos: videos, podcast</li>
        <li>Desarrollo de aplicaciones web, móviles, entornos en 3D, video juegos.</li>
        <li>Deploy & Testing de apps</li>
        <li>Machine Learning</li>
        <li>Ánalisis de datos</li>
        <li>Diseño (publicitario, UX/UI)</li>
        <li>Comunicación y visibilidad de proyectos, productos y marca personal del docente</li>
        <li>Administración de redes sociales</li>
      </ul>
    </div>
  </div>
</section>

<section class="modalidades">
  <div class="container">
    <div class="cont-modalidades">
      <h2 class="titulos2">Modalidades para participación de estudiantes</h2>
      <ul class="texto-size-font">
        <li>Prácticas pre-profesionales (GP - Practicum)</li>
        <li>Becarios de innovación</li>
        <li>Pasantes</li>
        <li>Colaboradores</li>
      </ul>
    </div>
  </div>
</section>

<section class="carreras">
  <div class="container">
    <div class="cont-carreras">
      <h2 class="titulos2">Carreras participantes</h2>
      <ul class="texto-size-font">
        <li>Prácticas pre-profesionales (GP - Practicum)</li>
        <li>Becarios de innovación</li>
        <li>Pasantes</li>
        <li>Colaboradores</li>
      </ul>
    </div>
  </div>
</section>
 -->
