<div class="overflow-x-hidden">
  <section class="section_1 relative">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <div class="h-screen w-full flex flex-col relative">
        <main class="flex-grow grid place-content-center px-2 sm:px-0 z-10 relative">
          <div class="absolute top-0 left-0 w-full h-full flex justify-start items-center z-0 opacity-10">
            <img src="/assets/elipses.png" alt="Elipses" class="w-[180%] h-auto opacity-80 object-cover" />
          </div>
          <h1 class="text-center font-bold text-3xl sm:text-5xl md:text-6xl lg:text-7xl lg:text-left lg:w-4/5">
            Laboratorio de Investigación e Innovación Docente
          </h1>
          <div class="flex flex-col sm:flex-row gap-4 sm:gap-6 md:gap-8 mt-6 sm:mt-8 lg:mt-10 mx-auto lg:ml-16">
            <button
            class="w-full sm:w-auto px-2 sm:px-4 h-10 sm:h-12 md:w-48 lg:w-80 bg-gradient-to-r from-[#FFCC00] to-[#FF9900] rounded-full shadow-2xl text-xs sm:text-sm text-white transition-all duration-300 hover:scale-110 hover:brightness-110"
            routerLink="/nosotros">
            Quiero saber más
          </button>            
          </div>
        </main>
        <div class="absolute right-0 w-3/4 flex justify-end text-right transform translate-x-24" style="bottom: -20px;">
          <img src="/assets/chica_tecn.png" alt="Ilustración" class="w-full h-auto object-cover" />
        </div>        
      </div>
    </div>
  </section>  

  <section class="relative flex items-center justify-center py-12 bg-white h-[80vh]">
    <!-- Líneas decorativas al fondo -->
    <img src="/assets/lineas.png" alt="Líneas Decorativas" 
         class="absolute top-0 left-0 w-full h-full object-cover opacity-30 z-0"> <!-- Fondo completo -->
  
    <div class="container mx-auto flex items-center justify-center gap-16 max-w-7xl relative z-10">
      <!-- Imagen del personaje -->
      <div class="relative">
        <img src="/assets/chica_bola.png" alt="Chica Pensando" class="w-[500px] h-auto mx-auto">
      </div>
      <!-- Contenedor del cuadro de texto -->
      <div class="relative text-center">
        <!-- Cuadro de texto cuadrado -->
        <div class="bg-yellow-400 w-[450px] p-8 rounded-lg shadow-lg flex items-center justify-center">
          <p class="text-white font-medium text-lg leading-relaxed">
            El Laboratorio de Investigación e Innovación Docente Educativa (LiiD), es un espacio orientado al desarrollo
            de la innovación e investigación educativa a nivel local, nacional e internacional.
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="flex justify-center items-center bg-[#044170] -mt-2">
    <iframe width="660" height="415" src="https://www.youtube.com/embed/U-AtQxYHv1M?showinfo=0" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen class="border rounded-md my-10"></iframe>
  </section>

  <section class="relative flex flex-col mx-auto justify-center items-center bg-white" id="projects">
    <span class="absolute top-0 right-0 z-10 text-primary group-hover:text-black">
      <svg width="63" height="30" viewBox="0 0 63 30" class="fill-current">
        <circle cx="7.21563" cy="10.1013" r="1.14106" transform="rotate(-118.771 7.21563 10.1013)" />
        <circle cx="24.8191" cy="0.43515" r="1.14106" transform="rotate(-118.771 24.8191 0.43515)" />
        <circle cx="16.7716" cy="27.5037" r="1.14106" transform="rotate(-118.771 16.7716 27.5037)" />
        <circle cx="2.38256" cy="1.2995" r="1.14106" transform="rotate(-118.771 2.38256 1.2995)" />
        <circle cx="25.5737" cy="22.6717" r="1.14106" transform="rotate(-118.771 25.5737 22.6717)" />
        <circle cx="34.3754" cy="17.8386" r="1.14106" transform="rotate(-118.771 34.3754 17.8386)" />
        <circle cx="43.1771" cy="13.0056" r="1.14106" transform="rotate(-118.771 43.1771 13.0056)" />
        <circle cx="51.9788" cy="8.17249" r="1.14106" transform="rotate(-118.771 51.9788 8.17249)" />
        <circle cx="60.5805" cy="3.44925" r="1.14106" transform="rotate(-118.771 60.5805 3.44925)" />
        <circle cx="11.9389" cy="18.7029" r="1.14106" transform="rotate(-118.771 11.9389 18.7029)" />
        <circle cx="20.7405" cy="13.8698" r="1.14106" transform="rotate(-118.771 20.7405 13.8698)" />
        <circle cx="29.5423" cy="9.0368" r="1.14106" transform="rotate(-118.771 29.5423 9.0368)" />
        <circle cx="38.344" cy="4.2038" r="1.14106" transform="rotate(-118.771 38.344 4.2038)" />
        <circle cx="47.1458" cy="-0.62915" r="1.14106" transform="rotate(-118.771 47.1458 -0.62915)" />
      </svg>
    </span>
    <div class="container mt-12">
      <h2 class="text-4xl font-bold mb-16 text-center text-[#044170] uppercase">
        Proyectos Recientes
      </h2>
      <swiper-container class="mb-20 w-[80rem]" autoHeight="true" loop="false" slides-per-view="auto" speed="800"
        space-between="30" centered-slides="true" [grabCursor]="true" coverflow-effect-rotate="50" effect="coverflow"
        autoplay-delay="5000" autoplay-disable-on-interaction="false" navigation="true" coverflow-effect-stretch="0"
        coverflow-effect-modifier="1" coverflow-effect-slide-shadows="false">
        <swiper-slide *ngFor="let project of list" class="!w-fit">
          <div class="my-4" [routerLink]="'/proyectos/' + project.id">
            <img src="{{ project.portada }}" alt="portada" class="w-full rounded-t-3xl" />
            <h3
              class="backdrop-blur-md bg-[#044170] bg-opacity-70 rounded-b-lg text-2xl font-bold m-0 py-4 text-center uppercase w-full">
              {{ project.titulo }}
            </h3>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </section>
</div>
