<section>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="h-screen w-full flex flex-col">
      <main class="flex-grow grid place-content-center px-2 sm:px-0">
        <h1 class="text-center font-bold text-3xl sm:text-5xl md:text-6xl lg:text-7xl lg:text-left lg:w-4/5">
          Laboratorio de Investigación e Innovación Docente
        </h1>
        <div class="flex flex-col sm:flex-row gap-4 sm:gap-6 md:gap-8 mt-6 sm:mt-8 lg:mt-10 mx-auto lg:ml-16">
          <button
            class="w-full sm:w-auto px-2 sm:px-4 h-10 sm:h-12 md:w-48 lg:w-52 bg-amber-500 rounded-full shadow-2xl text-xs sm:text-sm md:text-lg border-transparent"
            routerLink="/nosotros">
            Quiero saber más
          </button>
          <!--<button
            class="w-full sm:w-auto px-2 sm:px-4 h-10 sm:h-12 md:w-48 lg:w-52 bg-amber-500 rounded-full shadow-2xl text-xs sm:text-sm md:text-lg border-transparent">
            Postular al equipo
          </button>-->
        </div>
      </main>
      <div class="absolute bottom-0 right-0 flex justify-end">
        <img src="/assets/home-bottom.svg" alt="Ilustración" class="w-6/10 sm:w-7/10 md:w-8/10 lg:w-full" />
      </div>
    </div>
  </div>
</section>

<section class="bg-white flex items-center justify-center ">
  <img src="/assets/section-2.svg" alt="Sección 2" class="object-cover w-full h-full">
</section>

<section class="flex justify-center items-center bg-[#044170] -mt-2">
  <iframe width="660" height="415" src="https://www.youtube.com/embed/U-AtQxYHv1M?showinfo=0" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen class="border rounded-md my-10"></iframe>
</section>

<section class="relative flex flex-col mx-auto justify-center items-center bg-white " id="projects">
  <span class="absolute top-0 right-0 z-10 text-primary group-hover:text-black">
    <svg width="63" height="30" viewBox="0 0 63 30" class="fill-current">
      <circle cx="7.21563" cy="10.1013" r="1.14106" transform="rotate(-118.771 7.21563 10.1013)" />
      <circle cx="24.8191" cy="0.43515" r="1.14106" transform="rotate(-118.771 24.8191 0.43515)" />
      <circle cx="16.7716" cy="27.5037" r="1.14106" transform="rotate(-118.771 16.7716 27.5037)" />
      <circle cx="2.38256" cy="1.2995" r="1.14106" transform="rotate(-118.771 2.38256 1.2995)" />
      <circle cx="25.5737" cy="22.6717" r="1.14106" transform="rotate(-118.771 25.5737 22.6717)" />
      <circle cx="34.3754" cy="17.8386" r="1.14106" transform="rotate(-118.771 34.3754 17.8386)" />
      <circle cx="43.1771" cy="13.0056" r="1.14106" transform="rotate(-118.771 43.1771 13.0056)" />
      <circle cx="51.9788" cy="8.17249" r="1.14106" transform="rotate(-118.771 51.9788 8.17249)" />
      <circle cx="60.5805" cy="3.44925" r="1.14106" transform="rotate(-118.771 60.5805 3.44925)" />
      <circle cx="11.9389" cy="18.7029" r="1.14106" transform="rotate(-118.771 11.9389 18.7029)" />
      <circle cx="20.7405" cy="13.8698" r="1.14106" transform="rotate(-118.771 20.7405 13.8698)" />
      <circle cx="29.5423" cy="9.0368" r="1.14106" transform="rotate(-118.771 29.5423 9.0368)" />
      <circle cx="38.344" cy="4.2038" r="1.14106" transform="rotate(-118.771 38.344 4.2038)" />
      <circle cx="47.1458" cy="-0.62915" r="1.14106" transform="rotate(-118.771 47.1458 -0.62915)" />
    </svg>
  </span>
  <div class="container mt-12">
    <h2 class="text-4xl font-bold mb-16 text-center text-[#044170] uppercase">Proyectos Recientes</h2>
    <swiper class="w-full mb-20" [effect]="'coverflow'" [grabCursor]="true" [slidesPerView]="3" [loop]="true" [breakpoints]="{
          '0': {
            slidesPerView: 1.2
          },
          '768': {
            slidesPerView: 3
          }
        }" [coverflowEffect]="{
          rotate: 20,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows: true
        }">
      <ng-template swiperSlide *ngFor="let project of list">
        <div [routerLink]="'/proyectos/' + project.id">
          <img src="{{ project.portada }}" alt="portada" class="w-full rounded-t-3xl">
          <h3
            class="backdrop-blur-md bg-[#044170] bg-opacity-70 rounded-b-lg text-2xl font-bold m-0 py-4 text-center uppercase w-full">
            {{ project.titulo }}</h3>
        </div>
      </ng-template>
    </swiper>
  </div>

</section>


<!-- <section class="contact" id="contact">
  <div class="container">
    <main class="contact-contenido">
      <div class="contact-tarjeta">
        <div class="informacion">
          <h2 class="informacion-titulo">LiiD UTPL</h2>
          <p>¿Quieres formar parte de nuestro equipo?</p>
          <p>¿Quieres realizar un proyecto con nosotros?</p>
          <p>Escríbenos</p>

          <div class="informacion-iconos">
            <img src="/assets/iconos/phone.png" alt="Icono de teléfono" />
            <p>07 370 1444</p>
          </div>
          <div class="informacion-iconos">
            <img src="/assets/iconos/email.png" alt="Icono de email" />
            <p>liidutpl@utpl.edu.ec</p>
          </div>
        </div>
        <div class="formulario">
          <h2>Envíanos un mensaje</h2>
          <form>
            <input class="formulario-input" type="text" placeholder="Nombre" />
            <input class="formulario-input" type="email" placeholder="Correo Electrónico" />
            <input class="formulario-input" type="text" placeholder="Asunto" />
            <textarea class="formulario-input" placeholder="Tu mensaje..."></textarea>
            <div class="formulario-boton">
              <button class="boton-naranja">Enviar Mensaje</button>
            </div>
          </form>
        </div>
        <img class="formulario-chica" src="/assets/form.png" alt="working" />
      </div>
    </main>
  </div>
</section>
 -->
