
<div>
  <div class="main-container">
    <div class="image-logo-container">
      <img src="assets/logoblack.svg" alt="logo-utpl" class="image-logo" />"
    </div>
    <div class="container-home">
      <h1>Laboratorio de Investigación e Innovación Docente</h1>
      <p>
        Es un espacio orientado al desarrollo de la innovación e investigación
        educativa a nivel local, nacional e internacional. A través del
        laboratorio se busca canalizar todas las iniciativas de la UTPL que
        potencien el aprendizaje y la enseñanza con el uso de las nuevas
        tecnologías, recursos educativos abiertos y nuevas metodologías de
        enseñanza-aprendizaje; así como apoyar a los investigadores de la
        universidad en la explotación de nuevas formas de trabajo científico en
        relación a la mejora de la docencia universitaria.
      </p>
      <h2>Objetivos del laboratorio</h2>
      <div class="names-container">
        <h6>Innovación</h6>
        <h6>Creación</h6>
        <h6>Investigación</h6>
        <h6>Unidad</h6>
        <h6>Crecimiento</h6>
      </div>
      <!-- <iframe
        src="https://www.youtube.com/watch?v=v27EX2U2PlA"
        class="my-iframe"
      ></iframe> -->
      <iframe class="my-iframe" width="720" height="480" src="https://www.youtube.com/embed/v27EX2U2PlA"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <div class="list-with-image">
        <ul class="list-half-width">
          <li>Implementación de proyectos de Innovación académica.</li>
          <li>
            Capacitaciones sobre prácticas de innovación educativa, en relación
            las nuevas tecnologías y ambientes de aprendizaje.
          </li>
          <li>
            Asesoría en creación de contenidos educativos y aplicación de
            técnicas de inteligencia artificial en los procesos de enseñanza.
          </li>
          <li>
            Formación y asesoramiento especializado en innovación e
            investigación educativa, aplicando los últimos avances en
            herramientas tecnológicas.
          </li>
          <li>
            Asesoramiento y desarrollo de prototipos orientados a la innovación
            educativa.
          </li>
          <li>Investigación en Tendencias Educativas</li>
        </ul>
        <img class="square-image"
          src="https://scontent.fuio5-1.fna.fbcdn.net/v/t39.30808-6/277989959_10160246758210921_6398481405935852816_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=730e14&_nc_ohc=Xea21M8DB2EAX9ne2JV&_nc_ht=scontent.fuio5-1.fna&oh=00_AT_1mAfit99MMOm4ofuOlCyGQCb0vkbdhdViS93RkF1dzQ&oe=62E90AE5"
          alt="Picture" />
      </div>
      <h2>¿Qué hacemos?</h2>
      <ul>
        <li>Desarrollo de proyectos de Innovación Educativa</li>
        <li>Elaboración de recursos educativos: videos, podcast</li>
        <li>
          Desarrollo de aplicaciones web, móviles, entornos en 3D, video juegos.
        </li>
        <li>Deploy & Testing de apps</li>
        <li>Machine Learning</li>
        <li>Ánalisis de datos</li>
        <li>Diseño (publicitario, UX/UI)</li>
        <li>
          Comunicación y visibilidad de proyectos, productos y marca personal
          del docente
        </li>
        <li>Administración de redes sociales</li>
      </ul>
      <h2>Modalidades para participación de estudiantes</h2>
      <ul>
        <li>Prácticas pre-profesionales (GP - Practicum)</li>
        <li>Becarios de innovación</li>
        <li>Pasantes</li>
        <li>Colaboradores</li>
      </ul>
      <h2>Carreras participantes</h2>
      z
      <ul>
        <li>Computación/Informática</li>
        <li>Contabilidad y Auditoria</li>
        <li>Administración de Empresas</li>
        <li>Economía</li>
        <li>Comunicación</li>
        <li>Medicina</li>
        <li>Psicología</li>
        <li>Derecho</li>
        <li>Ingeniería Indusrial</li>
        <li>Arquitectura</li>
      </ul>
    </div>
  </div>
</div>
