<nav class="sidebar">
    <ul class="listado-items">
        <li class="item" id="item-about" (click)="scrollToSection('about')">
          <div class="icono about"></div>
        </li>
        <li class="item" id="item-projects" (click)="scrollToSection('projects')">
          <div class="icono portfolio"></div>
        </li>
        <li class="item" id="item-home" (click)="scrollToSection('home')">
            <div class="icono home"></div>
        </li>
        <li class="item" id="item-contact" (click)="scrollToSection('contact')">
            <div class="icono contact"></div>
        </li>
        <li class="item" id="" (click)="scrollToSection('home')">
            <div class="icono search"></div>
        </li>
    </ul>
</nav>
