<div class="flip-card box">
  <div class="flip-card-inner">
    <div class="flip-card-front box">
      <img src="{{ img }}" class="portrait-image" alt="utpl"/>
    </div>
    <div class="flip-card-back box">
      <div>
        <h1>{{ nombre }}</h1>
        <h2>Carrera universitaria</h2>
        <h3>{{ carrera }}</h3>
        <h2>Área</h2>
        <h3>{{ dependencia }}</h3>
        <h2>Correo electrónico</h2>
        <h3>{{ correo }}</h3>
        <h2>Tiempo actividad</h2>
        <h3>{{ tiempoActividad }}</h3>
      </div>
    </div>
  </div>
</div>
<!-- Modal 
<div class="modal fade" [id]="nombre" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-max-size">
      <div class="modal-body">
        <div class="row1">
          <h1>{{ nombre }}</h1>
          <h2>Carrera universitaria</h2>
          <h3>{{ carrera }}</h3>
          <h2>Dependencia</h2>
          <h3>{{ dependencia }}</h3>
          <h2>Proyectos</h2>
          <h3>{{ proyectos }}</h3>
          <h2>Correo electrónico</h2>
          <h3>{{ correo }}</h3>
          <h2>Tiempo actividad</h2>
          <h3>{{ tiempoActividad }}</h3>
        </div>
        <div class="row2">
          <img src="{{img}}" alt="">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div> -->
